/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/theme.css.ts.vanilla.css","source":"LnRoZW1lX3RoZW1lQ2xhc3NfX3Z6aTQxMDAgewogIC0tY29sb3JzLWJsYWNrX192emk0MTAxOiAjMDAwMDAwOwogIC0tY29sb3JzLXdoaXRlX192emk0MTAyOiAjRkZGRkZGOwogIC0tY29sb3JzLXdoaXRlSW5wdXRfX3Z6aTQxMDM6ICNGOEY2RTU7CiAgLS1jb2xvcnMtcHJpbWFyeV9fdnppNDEwNDogIzc3RDVDMjsKICAtLWNvbG9ycy15ZWxsb3dfX3Z6aTQxMDU6ICNGNUNBNUY7CiAgLS1jb2xvcnMteWVsbG93QmFja2dyb3VuZF9fdnppNDEwNjogI0ZFRThCNDsKICAtLWNvbG9ycy1saWdodEJyb3duX192emk0MTA3OiAjRTVDODk0OwogIC0tY29sb3JzLWJyb3duX192emk0MTA4OiAjODEzNTNGOwogIC0tY29sb3JzLXRleHRIMV9fdnppNDEwOTogIzY0NTUzMTsKICAtLWNvbG9ycy10ZXh0SDJfX3Z6aTQxMGE6ICM4ODdBNjc7CiAgLS1jb2xvcnMtdGV4dEgzX192emk0MTBiOiAjRjdGNkU2OwogIC0tY29sb3JzLXRleHRINF9fdnppNDEwYzogIzU2NTY1NTsKICAtLWNvbG9ycy10ZXh0QnViYmxlX192emk0MTBkOiAjODM3MTU2Owp9"}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.theme_themeClass__vzi4100 {
  --colors-black__vzi4101: #000000;
  --colors-white__vzi4102: #FFFFFF;
  --colors-whiteInput__vzi4103: #F8F6E5;
  --colors-primary__vzi4104: #77D5C2;
  --colors-yellow__vzi4105: #F5CA5F;
  --colors-yellowBackground__vzi4106: #FEE8B4;
  --colors-lightBrown__vzi4107: #E5C894;
  --colors-brown__vzi4108: #81353F;
  --colors-textH1__vzi4109: #645531;
  --colors-textH2__vzi410a: #887A67;
  --colors-textH3__vzi410b: #F7F6E6;
  --colors-textH4__vzi410c: #565655;
  --colors-textBubble__vzi410d: #837156;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/(routes)/puzzle/page.css.ts.vanilla.css","source":"LnBhZ2VfcGxheVdyYXBwZXJfXzFjOHVobHUwIHsKICBkaXNwbGF5OiBncmlkOwogIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMmZyIDFmcjsKICBwYWRkaW5nOiA4cHggNSU7Cn0KLnBhZ2VfY29udGFpbmVyX18xYzh1aGx1MSB7CiAgZmxleC1iYXNpczogMzAlOwp9Ci5wYWdlX3dvcmRMaXN0VGl0bGVfXzFjOHVobHUyIHsKICBjb2xvcjogdmFyKC0tY29sb3JzLXdoaXRlSW5wdXRfX3Z6aTQxMDMpOwogIGZvbnQtc2l6ZTogMjRweDsKfQoucGFnZV93b3JkTGlzdFdyYXBwZXJfXzFjOHVobHUzIHsKICBvdmVyZmxvdzogc2Nyb2xsOwogIHBhZGRpbmc6IDRweCA4cHg7CiAgYm9yZGVyLXJhZGl1czogOHB4OwogIGJhY2tncm91bmQ6IHZhcigtLWNvbG9ycy13aGl0ZUlucHV0X192emk0MTAzKTsKICBib3gtc2hhZG93OiAwIDRweCA0cHggMHB4IHJnYmEoMCwgMCwgMCwgMC4zKTsKfQoucGFnZV93b3JkX18xYzh1aGx1NCB7CiAgY29sb3I6IHZhcigtLWNvbG9ycy1ibGFja19fdnppNDEwMSk7CiAgZm9udC13ZWlnaHQ6IDYwMDsKICBmb250LXNpemU6IDE2cHg7CiAgcGFkZGluZzogOHB4IDE2cHg7Cn0KLnBhZ2Vfd29yZEZvdW5kX18xYzh1aGx1NSB7CiAgY29sb3I6IHZhcigtLWNvbG9ycy10ZXh0SDRfX3Z6aTQxMGMpOwogIGZvbnQtd2VpZ2h0OiA2MDA7CiAgZm9udC1zaXplOiAxNnB4OwogIHBhZGRpbmc6IDhweCAxNnB4OwogIHRleHQtZGVjb3JhdGlvbjogbGluZS10aHJvdWdoOwp9CkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDEwMDBweCkgewogIC5wYWdlX3BsYXlXcmFwcGVyX18xYzh1aGx1MCB7CiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IGF1dG87CiAgICByb3ctZ2FwOiAxcmVtOwogICAgcGFkZGluZzogOHB4OwogIH0KfQ=="}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_playWrapper__1c8uhlu0 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 8px 5%;
}
.page_container__1c8uhlu1 {
  flex-basis: 30%;
}
.page_wordListTitle__1c8uhlu2 {
  color: var(--colors-whiteInput__vzi4103);
  font-size: 24px;
}
.page_wordListWrapper__1c8uhlu3 {
  overflow: scroll;
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--colors-whiteInput__vzi4103);
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.page_word__1c8uhlu4 {
  color: var(--colors-black__vzi4101);
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
}
.page_wordFound__1c8uhlu5 {
  color: var(--colors-textH4__vzi410c);
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: line-through;
}
@media screen and (max-width: 1000px) {
  .page_playWrapper__1c8uhlu0 {
    grid-template-columns: auto;
    row-gap: 1rem;
    padding: 8px;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/components/modal.css.ts.vanilla.css","source":"#H4sIAAAAAAAAE61UTW+jMBS891dYqiq1BxCQhKT0sh+X9rKnlfYYGfsR3AUb2SZJs+p/X2MwgYRkc1hFQrHhzcybN7ZfCoqLtX1+w+T3Roqa0/X6nZJ8BgH6c4dQJRTTTPAE4VSJotbwYnYPHuMU9gmKgma5Y1TnCQqD4KFZ5sA2uT6utagSZD9MexaPiELIBG2xfPTahfLSwrxfr7cHNg+D8KmpEBUmTH8kaNFgfd75A82/JK4qkE5weEXwiULKVFVgg5oVsG823mulWfZhhHAN3Ggn5gly1Oss6JuZn4v5biox40c5USsHU8r4xlBLKE8eY0dOvNjlTMMbr2rtDJlZQ1IhKUhPYspqZWz1FxapF0MKoeAVMD0qia2Sf/esjNfgpaB3APxlJN5fPHQTHNNH82qPAvNr/gxVSKHUm0F2GpZWgxtDJ3oQlX6H1FI1wagEaycwtvkHLsFhrizmVJA07PVr6Ix7tsZlpk1PsQMY1R2X3dp1ElJR0CEbKIU3Pdez5WpwPVywDR8mpFNwv5otw0U8MM5rk386orTWWvCvErBDxzdOaMRZl9zb4CrpszRiDadZf5oOHGt67IkCERK354YLDmd1roYM55gx7bSN4hL40WIU8unMjmYS+m4qUwO1p8HNM3q6LC/JxRZkG4yLSepq9EcFa4I5gcLVU1t5fk3d02y1iCZssRi5OIYSLiEEhMRpfAvCoIcJnHBJYzK7CSeFTEgYTiwKgmo/PHjtxjA9sn0R+LOp/HSmCZ4xWTqm7JLWOKZRvLwR5Hrb8Yqu4tWtUP+n8y8lUIaRItJciAhzih5LvPc6xLgBeLIc12+ok5y78H8eC6fO2Liqr/n8C02WSBW2BwAA"}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_modalBackground__jdch3e0 {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--colors-black__vzi4101);
  opacity: 50%;
}
.modal_modalWrapper__jdch3e1 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 30;
  top: 40%;
}
.modal_modalContainer__jdch3e2 {
  padding: 1rem 1rem 1rem 1rem;
  background: var(--colors-whiteInput__vzi4103);
  border-radius: 0.5rem;
}
.modal_closeHeader__jdch3e6 {
  display: flex;
  justify-content: space-between;
  padding: 1.5% 0;
  border-radius: 24px 0 0 24px;
}
.modal_crossIcon__jdch3e7 {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.modal_modalName__jdch3e8 {
  color: var(--colors-textH1__vzi4109);
  font-size: 2rem;
  font-weight: bold;
}
.modal_message__jdch3e9 {
  text-align: center;
  color: #837156;
  padding-top: 0.5rem;
}
.modal_buttonArea__jdch3ea {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 1.5rem;
}
.modal_buttonText__jdch3eb {
  text-decoration: none;
}
.modal_button__jdch3ec {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: var(--colors-white__vzi4102);
}
.modal_button__jdch3ec:hover {
  cursor: pointer;
}
.modal_button_type_cancel__jdch3ed {
  background-color: #df852e;
}
.modal_button_type_home__jdch3ee {
  background-color: #0cc6b6;
}
.modal_button_type_home__jdch3ee:hover {
  background-color: #17d6c3;
}
.modal_button_type_home__jdch3ee:before {
  width: 200px;
  height: 200px;;
  padding-right: 0.3rem;
}
.modal_button_type_confirm__jdch3ef {
  background-color: #66d267;
}
.modal_button_type_confirm__jdch3ef:hover {
  background-color: #68d868;
}
.modal_button_type_confirm__jdch3ef:before {
  width: 200px;
  height: 200px;;
  padding-right: 0.3rem;
}
@media screen and (max-width: 600px) {
  .modal_modalName__jdch3e8 {
    font-size: 1.5rem;
  }
  .modal_button__jdch3ec {
    font-size: 1rem;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/components/puzzle/time.css.tsx.vanilla.css","source":"LnRpbWVfY29udGFpbmVyX19uOTZtam4wIHsKICBwYWRkaW5nLWJvdHRvbTogMC41cmVtOwp9Ci50aW1lX2xlZnRUaW1lX19uOTZtam4xIHsKICBkaXNwbGF5OiBmbGV4OwogIGp1c3RpZnktY29udGVudDogY2VudGVyOwogIGNvbG9yOiB2YXIoLS1jb2xvcnMtYmxhY2tfX3Z6aTQxMDEpOwogIGZvbnQtc2l6ZTogNDhweDsKICBmb250LXdlaWdodDogNjAwOwp9Ci50aW1lX2N1c3RvbVByb2dyZXNzX19uOTZtam4yIHsKICB3aWR0aDogMTAwJTsKICBoZWlnaHQ6IDMwcHg7CiAgYm9yZGVyLXJhZGl1czogOHB4Owp9Ci50aW1lX2N1c3RvbVByb2dyZXNzX19uOTZtam4yOjotd2Via2l0LXByb2dyZXNzLWJhciB7CiAgYmFja2dyb3VuZC1jb2xvcjogI2Y4ZjZlNTsKICBib3JkZXItcmFkaXVzOiA0cHg7Cn0KLnRpbWVfY3VzdG9tUHJvZ3Jlc3NfX245Nm1qbjI6Oi13ZWJraXQtcHJvZ3Jlc3MtdmFsdWUgewogIGJhY2tncm91bmQtY29sb3I6ICAjZjVjYTVmOwogIGJvcmRlci1yYWRpdXM6IDRweDsKfQoudGltZV9idXR0b25Db21wbGV0ZV9fbjk2bWpuMyB7CiAgZm9udC1zaXplOiAyNHB4OwogIHRleHQtYWxpZ246IGNlbnRlcjsKICBmb250LXdlaWdodDogNjAwOwogIGNvbG9yOiB2YXIoLS1jb2xvcnMtdGV4dEgzX192emk0MTBiKTsKICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDc1NjYzOwogIGJvcmRlci1yYWRpdXM6IDhweDsKICBwYWRkaW5nOiAwLjVyZW0gMCA7CiAgbWFyZ2luOiAwLjVyZW0gMDsKfQoudGltZV9idXR0b25Db21wbGV0ZV9fbjk2bWpuMzpob3ZlciB7CiAgY3Vyc29yOiBwb2ludGVyOwogIGJhY2tncm91bmQtY29sb3I6ICMwNjVmNmQ7Cn0="}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.time_container__n96mjn0 {
  padding-bottom: 0.5rem;
}
.time_leftTime__n96mjn1 {
  display: flex;
  justify-content: center;
  color: var(--colors-black__vzi4101);
  font-size: 48px;
  font-weight: 600;
}
.time_customProgress__n96mjn2 {
  width: 100%;
  height: 30px;
  border-radius: 8px;
}
.time_customProgress__n96mjn2::-webkit-progress-bar {
  background-color: #f8f6e5;
  border-radius: 4px;
}
.time_customProgress__n96mjn2::-webkit-progress-value {
  background-color:  #f5ca5f;
  border-radius: 4px;
}
.time_buttonComplete__n96mjn3 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: var(--colors-textH3__vzi410b);
  background-color: #075663;
  border-radius: 8px;
  padding: 0.5rem 0 ;
  margin: 0.5rem 0;
}
.time_buttonComplete__n96mjn3:hover {
  cursor: pointer;
  background-color: #065f6d;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/components/modalContents/gameClear.css.tsx.vanilla.css","source":"LmdhbWVDbGVhcl9yZXN1bHRDb250YWluZXJfX2dldHl4NTAgewogIGRpc3BsYXk6IGZsZXg7CiAgYm9yZGVyOiBzb2xpZCAxLjVweCAjOTI4ZTgzIDsKICBib3JkZXItcmFkaXVzOiA0cHg7CiAgcGFkZGluZzogMXJlbSAwLjVyZW07Cn0KLmdhbWVDbGVhcl9zZXR0aW5nX19nZXR5eDUyIHsKICBkaXNwbGF5OiBmbGV4OwogIGNvbHVtbi1nYXA6IDFyZW07Cn0KLmdhbWVDbGVhcl9zZXR0aW5nVGl0bGVfX2dldHl4NTMgewogIGNvbG9yOiAjN2U3MjVjOwp9Ci5nYW1lQ2xlYXJfc2V0dGluZ1ZhbHVlX19nZXR5eDU0IHsKICBjb2xvcjogIzdlNzI1YzsKICBmb250LXdlaWdodDogNTAwOwp9Ci5nYW1lQ2xlYXJfYmFyX19nZXR5eDU1IHsKICB3aWR0aDogMnB4OwogIGJhY2tncm91bmQtY29sb3I6ICM5MjhlODM7CiAgbWFyZ2luOiAwIDE1cHggMCAzMHB4Owp9Ci5nYW1lQ2xlYXJfdGltZV9fZ2V0eXg1NiB7CiAgZGlzcGxheTogZmxleDsKICBhbGlnbi1pdGVtczogY2VudGVyOwogIGp1c3RpZnktY29udGVudDogY2VudGVyOwogIGNvbG9yOiAjODM3MTU2OwogIGZvbnQtc2l6ZTogMjRweDsKICBmb250LXdlaWdodDogNzAwOwp9"}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.gameClear_resultContainer__getyx50 {
  display: flex;
  border: solid 1.5px #928e83 ;
  border-radius: 4px;
  padding: 1rem 0.5rem;
}
.gameClear_setting__getyx52 {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.gameClear_settingTitle__getyx53 {
  color: #7e725c;
}
.gameClear_settingValue__getyx54 {
  color: #7e725c;
  font-weight: 500;
}
.gameClear_bar__getyx55 {
  width: 2px;
  background-color: #928e83;
  margin: 0 15px 0 30px;
}
.gameClear_time__getyx56 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #837156;
  font-size: 24px;
  font-weight: 700;
}
