/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/components/three/textArea.css.ts.vanilla.css","source":"#H4sIAAAAAAAAE42T226jMBCG7/sUlla9JMsxIezVRmpfoZeRgQHcOrZl7DbZ1b772gYHQunhBtljPP/nf2Y2Cs7qtwR8vC6OL3+q7TMP0d87hATviSKcFQiXPadawS8TVVwUaBfe2zWFRhUotMsOSNuZTTKcvJFadQWKQrv9d7e5kTrosqTgxSInVpNeUHwpUEPh/C7DlN/vn3WvSHMJKs4UMHNQmS9Ie4QpaVlAFJz6KTxnKJ3+k8RCgPQY8TrGugkLuBM+B1MoFO4m7gVUKpDYXDfx7c/9p9wfA6qLgGMNDdZUedrE0Vpdb8x+6fRKkh6oQfI50u/m8Bcyd+GLwsy82A9WzBMOBAvrt5+0mxzbat5VOwknVxtc14S1BcrFGUXxYHvJZQ3S2F4Tbeofj9UocfXSSq5ZbaynXBbox+PDQ35Ib/m4sAi9J9sNZF4nvUe5A7H/B67P1gu4TFN0/BWkS1Zp2Vt5wYlv2InNUOVRkiWPNswFroi6XKdt5H7ryGDN4qXhJnO+LKfNQ+RfDXU2H+o4W7QCYUIvJne/PjKr03DzxgaaLYQrb4iWlbWBa/SEZUsMeRTbKNaKryB6OLzWrHMKJTHrBZamfBOJsXHg5VpRwqBAjDNY9jCrD1opzrxWOddKR1o/GPG4/6Bc78ufJo0R/A/P61fQngUAAA=="}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.textArea_textArea__kzc6jo0 {
  position: absolute;
  top: 70%;
  left: 0;
  height: 30%;
  width: 100%;
}
.textArea_textBubble__kzc6jo1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.textArea_bubbleWrapper__kzc6jo2 {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16/9;
  justify-content: center;
}
.textArea_bubbleWrapper_type_default__kzc6jo3 {
  max-height: 90%;
}
.textArea_bubbleWrapper_type_select__kzc6jo4 {
  max-height: 90%;
}
.textArea_bubble__kzc6jo5 {
  width: 100%;
  height: 100%;
  max-width: 900px;
}
.textArea_selectWrapper__kzc6jo6 {
  position: absolute;
  right: 3%;
  width: 7rem;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #FEE8B4;
}
.textArea_options__kzc6jo7 {
  padding: 4% 8%;
  text-align: center;
}
.textArea_options__kzc6jo7:hover {
  cursor: pointer;
  background: #81353F;
  opacity: 70%;
  color: white;
  border-radius: 0.5rem;
}
.textArea_text__kzc6jo8 {
  position: absolute;
  top: 50%;
  left: 25%;
}
.textArea_inputBubble__kzc6jo9 {
  display: flex;
  max-width: 1000px;
  background: #fef6e0;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin: 12rem auto;
}
.textArea_input__kzc6joa {
  width: 100%;
  background: transparent;
  border: 0px;
  outline: none;
}
.textArea_sendButton__kzc6job {
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: #81343f;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/components/modal.css.ts.vanilla.css","source":"Lm1vZGFsX21vZGFsV3JhcHBlcl9famRjaDNlMCB7CiAgcG9zaXRpb246IGFic29sdXRlOwogIHdpZHRoOiAxMDAlOwogIGRpc3BsYXk6IGZsZXg7CiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7CiAgei1pbmRleDogMTsKICB0b3A6IDUlOwp9Ci5tb2RhbF9tb2RhbENvbnRhaW5lcl9famRjaDNlMSB7CiAgd2lkdGg6IDg5JTsKICBwYWRkaW5nOiA4cHggMTZweDsKICBiYWNrZ3JvdW5kOiAjRjhGNUU1Owp9Ci5tb2RhbF9jbG9zZUhlYWRlcl9famRjaDNlNSB7CiAgZGlzcGxheTogZmxleDsKICBqdXN0aWZ5LWNvbnRlbnQ6IHJpZ2h0Owp9Ci5tb2RhbF9nYW1lT3B0aW9uX19qZGNoM2U3IHsKICBkaXNwbGF5OiBmbGV4Owp9Ci5tb2RhbF9nYW1lT3B0aW9uVGl0bGVfX2pkY2gzZTggewogIGZvbnQtc2l6ZTogMS41cmVtOwogIHBhZGRpbmctcmlnaHQ6IDJyZW07Cn0KLm1vZGFsX2dhbWVPcHRpb25TZXR0aW5nX19qZGNoM2U5IHsKICBkaXNwbGF5OiBmbGV4OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAgY29sdW1uLWdhcDogMXJlbTsKfQoubW9kYWxfZ2FtZU9wdGlvblZhbHVlX19qZGNoM2VhIHsKICBmb250LXNpemU6IDEuNXJlbTsKfQ=="}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_modalWrapper__jdch3e0 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  top: 5%;
}
.modal_modalContainer__jdch3e1 {
  width: 89%;
  padding: 8px 16px;
  background: #F8F5E5;
}
.modal_closeHeader__jdch3e5 {
  display: flex;
  justify-content: right;
}
.modal_gameOption__jdch3e7 {
  display: flex;
}
.modal_gameOptionTitle__jdch3e8 {
  font-size: 1.5rem;
  padding-right: 2rem;
}
.modal_gameOptionSetting__jdch3e9 {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.modal_gameOptionValue__jdch3ea {
  font-size: 1.5rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[6].oneOf[0].use[2]!./node_modules/@vanilla-extract/webpack-plugin/virtualFileLoader/dist/vanilla-extract-webpack-plugin-virtualFileLoader.cjs.js?{"fileName":"app/page.css.ts.vanilla.css","source":"LnBhZ2Vfd3JhcHBlcl9fbGxjNG4wMCB7CiAgaGVpZ2h0OiAxMDAlOwp9"}!./node_modules/@vanilla-extract/webpack-plugin/extracted.js ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_wrapper__llc4n00 {
  height: 100%;
}
